Flask==2.1.2 
Jinja2==3.1.2 
MarkupSafe==2.1.1 
Werkzeug==2.1.2 
click==8.1.3 
importlib-metadata==4.11.4 
itsdangerous==2.1.2 
zipp==3.8.0
flask_sqlalchemy==2.5.1
Flask-Migrate==3.1.0
ecs-logging==2.0.0
dynaconf==3.1.9
flask-admin==1.6.0
Paste==3.5.1
waitress==2.1.2
psycopg2==2.9.3
